body{
    font-family: Arial, sans-serif;
    background-color: #EEEEEE;
    margin: 0;
    padding: 0;
}
header{
    background-color: #006B64;
    color: white;
    text-align: center;
    padding: 10px 0;
    justify-content:space-between;
} 
.home{
    background-color: #31DBD9;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.home:hover{
    background-color: #006B64;
    transition: ease-in-out 0.4s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)    ;
    transition: ease-out 0.4s;
}
.lit{
    text-decoration: none;
    color: #006B64;
    font-weight: bold;
}
.unl{
    color: #006B64;
    font-weight: bold;
}
.uni{
    border: 1px solid #006B64;
    padding: 5px;
}
.psl{
    color: #006B64;
    font-weight: bold;
}
.psi{
    border: 1px solid #006B64;
    padding: 5px;
}
.lib{
    background-color: #006B64;
    color: white;
    border: none;
    padding: 10px 20px;
    transition: ease-out 0.4s;
}
.lib:hover{
    background-color: #31DBD9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
}
form{
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    width: 300px;
    justify-self: center;
    margin-top: 150px;
}
input[type="email"], input[type="password"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"]{
    width: 100%;
    background-color: #006B64;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: #006B64;
    transition: ease-in-out 0.3s;
}
input {
  width: 400px;
  margin-right: 10px;
  border: 0.1px solid #006B64;
  border-radius: 10px;
  transform: ease-in-out 0.4s;
}
input:focus{
    outline: none;
    border-color: #31DBD9;
    box-shadow: 0 0 5px rgba(49, 219, 217, 0.5);
}
input:hover{
    outline: none;
    border-color: #31DBD9;
    box-shadow: 0 0 5px rgba(49, 219, 217, 0.5);
}
